SoapTest/xml-resources/web-service-references/ManagerWS/wsdl/localhost_8080/ManagerWS/ManagerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://manager/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://manager/" name="ManagerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://manager/" schemaLocation="http://localhost:8080/ManagerWS/ManagerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="definirIntervaloSensor">
<part name="parameters" element="tns:definirIntervaloSensor"/>
</message>
<message name="definirIntervaloSensorResponse">
<part name="parameters" element="tns:definirIntervaloSensorResponse"/>
</message>
<message name="pesquisarNodeGest">
<part name="parameters" element="tns:pesquisarNodeGest"/>
</message>
<message name="pesquisarNodeGestResponse">
<part name="parameters" element="tns:pesquisarNodeGestResponse"/>
</message>
<message name="inserirNodeGest">
<part name="parameters" element="tns:inserirNodeGest"/>
</message>
<message name="inserirNodeGestResponse">
<part name="parameters" element="tns:inserirNodeGestResponse"/>
</message>
<message name="inserirNode">
<part name="parameters" element="tns:inserirNode"/>
</message>
<message name="inserirNodeResponse">
<part name="parameters" element="tns:inserirNodeResponse"/>
</message>
<message name="inserirSensor">
<part name="parameters" element="tns:inserirSensor"/>
</message>
<message name="inserirSensorResponse">
<part name="parameters" element="tns:inserirSensorResponse"/>
</message>
<message name="pedirDadosSensor">
<part name="parameters" element="tns:pedirDadosSensor"/>
</message>
<message name="pedirDadosSensorResponse">
<part name="parameters" element="tns:pedirDadosSensorResponse"/>
</message>
<message name="listarNodeGest">
<part name="parameters" element="tns:listarNodeGest"/>
</message>
<message name="listarNodeGestResponse">
<part name="parameters" element="tns:listarNodeGestResponse"/>
</message>
<portType name="ManagerWS">
<operation name="definirIntervaloSensor">
<input wsam:Action="http://manager/ManagerWS/definirIntervaloSensorRequest" message="tns:definirIntervaloSensor"/>
<output wsam:Action="http://manager/ManagerWS/definirIntervaloSensorResponse" message="tns:definirIntervaloSensorResponse"/>
</operation>
<operation name="pesquisarNodeGest">
<input wsam:Action="http://manager/ManagerWS/pesquisarNodeGestRequest" message="tns:pesquisarNodeGest"/>
<output wsam:Action="http://manager/ManagerWS/pesquisarNodeGestResponse" message="tns:pesquisarNodeGestResponse"/>
</operation>
<operation name="inserirNodeGest">
<input wsam:Action="http://manager/ManagerWS/inserirNodeGestRequest" message="tns:inserirNodeGest"/>
<output wsam:Action="http://manager/ManagerWS/inserirNodeGestResponse" message="tns:inserirNodeGestResponse"/>
</operation>
<operation name="inserirNode">
<input wsam:Action="http://manager/ManagerWS/inserirNodeRequest" message="tns:inserirNode"/>
<output wsam:Action="http://manager/ManagerWS/inserirNodeResponse" message="tns:inserirNodeResponse"/>
</operation>
<operation name="inserirSensor">
<input wsam:Action="http://manager/ManagerWS/inserirSensorRequest" message="tns:inserirSensor"/>
<output wsam:Action="http://manager/ManagerWS/inserirSensorResponse" message="tns:inserirSensorResponse"/>
</operation>
<operation name="pedirDadosSensor">
<input wsam:Action="http://manager/ManagerWS/pedirDadosSensorRequest" message="tns:pedirDadosSensor"/>
<output wsam:Action="http://manager/ManagerWS/pedirDadosSensorResponse" message="tns:pedirDadosSensorResponse"/>
</operation>
<operation name="listarNodeGest">
<input wsam:Action="http://manager/ManagerWS/listarNodeGestRequest" message="tns:listarNodeGest"/>
<output wsam:Action="http://manager/ManagerWS/listarNodeGestResponse" message="tns:listarNodeGestResponse"/>
</operation>
</portType>
<binding name="ManagerWSPortBinding" type="tns:ManagerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="definirIntervaloSensor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisarNodeGest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirNodeGest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirNode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirSensor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedirDadosSensor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarNodeGest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManagerWS">
<port name="ManagerWSPort" binding="tns:ManagerWSPortBinding">
<soap:address location="http://localhost:8080/ManagerWS/ManagerWS"/>
</port>
</service>
</definitions>