NodeWS/src/conf/xml-resources/web-service-references/SensorWS/wsdl/localhost_8080/SensorWS/SensorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sensor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sensor/" name="SensorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://sensor/" schemaLocation="http://localhost:8080/SensorWS/SensorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="definirIntervaloSensor">
<part name="parameters" element="tns:definirIntervaloSensor"/>
</message>
<message name="definirIntervaloSensorResponse">
<part name="parameters" element="tns:definirIntervaloSensorResponse"/>
</message>
<message name="inserirNode">
<part name="parameters" element="tns:inserirNode"/>
</message>
<message name="inserirNodeResponse">
<part name="parameters" element="tns:inserirNodeResponse"/>
</message>
<message name="pedirDadosSensor">
<part name="parameters" element="tns:pedirDadosSensor"/>
</message>
<message name="pedirDadosSensorResponse">
<part name="parameters" element="tns:pedirDadosSensorResponse"/>
</message>
<message name="pesquisarSensor">
<part name="parameters" element="tns:pesquisarSensor"/>
</message>
<message name="pesquisarSensorResponse">
<part name="parameters" element="tns:pesquisarSensorResponse"/>
</message>
<portType name="SensorWS">
<operation name="definirIntervaloSensor">
<input wsam:Action="http://sensor/SensorWS/definirIntervaloSensorRequest" message="tns:definirIntervaloSensor"/>
<output wsam:Action="http://sensor/SensorWS/definirIntervaloSensorResponse" message="tns:definirIntervaloSensorResponse"/>
</operation>
<operation name="inserirNode">
<input wsam:Action="http://sensor/SensorWS/inserirNodeRequest" message="tns:inserirNode"/>
<output wsam:Action="http://sensor/SensorWS/inserirNodeResponse" message="tns:inserirNodeResponse"/>
</operation>
<operation name="pedirDadosSensor">
<input wsam:Action="http://sensor/SensorWS/pedirDadosSensorRequest" message="tns:pedirDadosSensor"/>
<output wsam:Action="http://sensor/SensorWS/pedirDadosSensorResponse" message="tns:pedirDadosSensorResponse"/>
</operation>
<operation name="pesquisarSensor">
<input wsam:Action="http://sensor/SensorWS/pesquisarSensorRequest" message="tns:pesquisarSensor"/>
<output wsam:Action="http://sensor/SensorWS/pesquisarSensorResponse" message="tns:pesquisarSensorResponse"/>
</operation>
</portType>
<binding name="SensorWSPortBinding" type="tns:SensorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="definirIntervaloSensor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirNode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedirDadosSensor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisarSensor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SensorWS">
<port name="SensorWSPort" binding="tns:SensorWSPortBinding">
<soap:address location="http://localhost:8080/SensorWS/SensorWS"/>
</port>
</service>
</definitions>